@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-family: 'Montserrat', sans-serif;">Hotel El Progreso 1</h1>
    <h2 class="display-4" style="font-family: 'Montserrat', sans-serif;">Bienvenido</h2>
    <img src="wwwroot/images/image-472.jpg" alt="Meme" class="mi-imagen-home">
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>